body {
    background-color: #450045;
    text-align: center;
    color: #ffffff;
    background-image: url('./assets/background-pattern2.png');
    background-size: cover;
    font-family: sans-serif;
    font-weight: 400;
}

h1 {
    font-family: sans-serif;
    margin: auto;
    width: 600px;
    letter-spacing: .2rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

#quote-box {
    border-radius: 20%;
    background-color: #df5634;
    margin: auto;
    padding: 40px;
    height: 300px;
    width: 300px;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
}

.add-glow {
  background-color:#daf2ff;
  box-shadow:
    0 0 60px 20px #fff,
    0 0 100px 40px #f0f,
    0 0 140px 70px #0ff;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}

#author {
    font-family: sans-serif
    font-weight: 600;
    color: white;
}

#text, #author {
    top: 100px;
    position: relative;
    font-size: 20px;
    color: white;
  }

  #new-quote, #tweet-quote {
    margin-top: 40px;
      width: 200px;
      border-radius: 50%;
  }

.animated{
  animation: fadeIn 0.8s ease-in;
}

  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }